body {
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1200px;
}

.mynavbar {
    background-color: #4741AF;
}

.nav-link {
    color: white;
    font-weight: 700;
    font-size: 18px;
}

.navbar-brand {
    color: white;
    font-size: 50px;
    font-weight: 700;
}

.banner {
    background-color: #4741AF;
    color: white;
}

.main-title {
    font-size: 72px;
    font-weight: 700;
}

.subtitle {
    font-size: 25px;
    font-weight: 400;
}

.main-btn {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;
    background-color: #6c63ff;
    padding: 15px 50px;
    border-radius: 35px;
}

.aboutus-img {
    margin-left: -330px;
}

.subtitle-style {
    color: #6c63ff;
    font-weight: 700;
    font-size: 24px;
}

.title-style {
    font-weight: 700;
    font-size: 48px;
}

.p-style {
    color: #666666;
    font-size: 18px;
    line-height: 1.55;
}

.link-style {
    font-weight: 700;
    color: black;
}

.service-image {
    border-radius: 50%;
    background-color: rgb(243, 249, 251);
    margin-top: 35px;
}

.service-img {
    margin-top: -100px;
}

.service-icon {
    background-color: #6c63ff;
    padding: 15px;
    width: 55px;
    border-radius: 50%;
}

.full-width-seciton {
    background-color: rgb(243, 249, 251);
}

.why-choose-img {
    margin-left: -125px;
}