body {
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1200px;
}

.mynavbar {
    background-color: #4741AF;
}

.nav-link {
    color: white;
    font-weight: 700;
    font-size: 18px;
}

.navbar-brand {
    color: white;
    font-size: 50px;
    font-weight: 700;
}

.banner {
    background-color: #4741AF;
    color: white;
}

.main-title {
    font-size: 72px;
    font-weight: 700;
}

.subtitle {
    font-size: 25px;
    font-weight: 400;
}

.main-btn {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;
    background-color: #6c63ff;
    padding: 15px 50px;
    border-radius: 35px;
}